<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">{{ title }}</a>
        <button class="navbar-toggler" type="button" (click)="toggleCollapseNavbar()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
            [class.show]="isCollapsed" [ngClass]="{ show: isCollapsed }"
            id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                       routerLink="/"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }"
                    >Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       routerLink="/pizzas"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }"
                    >Pizzas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pizzas/create" routerLinkActive="active">Créer une pizza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ingredients/create" routerLinkActive="active">Créer un ingrédient</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
