<div class="grid grid-cols-2 gap-4">
  <div *ngIf="selectedPizza">
    <app-pizza-selected [selected-pizza]="selectedPizza"></app-pizza-selected>
    <button (click)="unSelect()"
      class="px-4 py-2 bg-indigo-500 rounded text-white hover:bg-indigo-600 transition">
      Annuler
    </button>
  </div>

  <app-ingredient-list [ingredients]="ingredients"
    (selected)="updateIngredients($event)"
    *ngIf="selectedPizza"></app-ingredient-list>
</div>

<app-messages></app-messages>

<div class="flex justify-between">
  <h2 class="text-xl">Les pizzas</h2>
  <div>
    <select [(ngModel)]="sort.field">
      <option value="name">Nom</option>
      <option value="price">Prix</option>
    </select>
    <select [(ngModel)]="sort.order">
      <option value="asc">Croissant</option>
      <option value="desc">Décroissant</option>
    </select>

    <input type="text" #search>
  </div>
</div>

<div *ngIf="loader" class="py-8">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
  </svg>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
  <div *ngFor="let pizza of pizzas | sort:sort.field:sort.order; index as i"
      (click)="onSelect(pizza)"
      [class.bg-indigo-500]="pizza === selectedPizza"
      [ngClass]="{ 'bg-indigo-500 text-white': pizza === selectedPizza }"
      class="p-4 border border-gray-500 cursor-pointer"
  >
    {{ i }}: {{ pizza.name }} <br />
    {{ pizza.price }} et {{ pizza.price | tax }} <br />

    <!-- <a routerLink="/pizza/{{ pizza.id }}">Voir la pizza</a>
    <a [routerLink]="'/pizza/' + pizza.id">Voir la pizza</a> -->
    <a [routerLink]="['/pizza', pizza.id]"
       class="block text-center py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700">
      Voir la pizza
    </a>
  </div>
</div>
