<!-- Affiche une navbar Bootstrap -->
<app-menu [title]="title"></app-menu>

<div class="container">
    <app-pizza [pizza]="selectedPizza"></app-pizza>
    
    <!-- 
        En utilisant la grille de Bootstrap, on veut afficher 4 pizzas par ligne
        Chaque pizza sera affichée dans une card Bootstrap
        On retrouvera dans cette card, une image de la pizza, son nom, son prix et un bouton pour la sélectionner
    -->
    <div class="row my-5">
        <div class="col-3"
             *ngFor="let pizza of pizzas; index as i"
             [class.selected]="pizza === selectedPizza"
        >
            <div class="card">
                <img class="card-img-top" [src]="'assets/pizzas/' + pizza.image" [alt]="pizza.name">
                <div class="card-body">
                    <h2 class="card-title">{{ pizza.name }}</h2>
                    <p class="card-text">{{ pizza.price }}</p>
                    <button (click)="onSelect(pizza)"
                        class="btn btn-primary"
                        [disabled]="pizza === selectedPizza"
                    >
                        Sélectionner
                    </button>
                </div>
            </div>
        </div>
    </div>

    <app-author [user]="user"></app-author>
    <app-ingredient-list [ingredients]="ingredients"></app-ingredient-list>
    
    {{ pizzas | json }}
</div>
