<div *ngIf="selectedPizza">
    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title">Name: {{ selectedPizza?.name }}</h2>
            <div>Id: {{ selectedPizza?.id }}</div>
            <div>Price: {{ selectedPizza?.price }}</div>
            <img class="img-fluid" width="150" [src]="'assets/pizzas/' + selectedPizza.image">
            <input [(ngModel)]="selectedPizza.name" class="form-control">
            <button class="btn btn-danger" (click)="delete()">Supprimer</button>
        </div>
    </div>
</div>
